.header_wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: #edadd1;
    padding: 20px 80px 20px 110px;
    display: flex;
    justify-content: space-between;
}