.wrapper {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}
.input_title{
    color: #edadd1;
}
.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.form_button {
    width: 200px;
    background-color: #edadd1;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
}

.error_message {
    color: red;
}
