
.search_input {
    height: 40px;
    padding: 0 10px;
    border: none;
    background-color: white;
    border-radius: 8px;
    position: relative;

}

.search_wrapper {
    height: 40px;
}



.search_button {
    border-radius: 8px;
    height: 40px;
    border:none;
}