.header_wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 20px 80px 20px 110px;
    display: flex;
    justify-content: space-between;
}

.button_wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dark {
    background-color: #b3869b;
}

.light {
    background-color: #edadd1;
}
