.header_wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 20px 80px 20px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
}

.user_wrapper {
    display: flex;
    gap: 40px;
}
.user_name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}


.theme_wrapper {
    height: 50px;
    width: 100px;
}

.button_wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dark {
    background-color: #b3869b;
}

.light {
    background-color: #edadd1;
}
