.wrapper {
    width: 600px;
    margin:0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    color: #e874b6;
}

.heading {
    padding-left: 80px;
}

.link_wrapper {
    width: 200px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    color: #e874b6;
}

.link_wrapper a {
    color: black;
}
