.search_wrapper {
    z-index: 40;
    position: absolute;
    width: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 5px;
    font-size: 15px;
    max-height: 300px;
    overflow: auto;
}

.search_item {
    height: 40px;
    display: flex;
    align-items: center;
}

.search_item:hover{
    cursor: pointer;
    background-color: #dbdad7;
}